<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/user/Desktop/demo">

        <parameter name="browser" value="safari"/>

        <groups>
            <run>
                <include name="UI"/>
            </run>
        </groups>

        <classes>
            <class name="com.example.demo.DemoApplicationTests">
                <methods>
                    <include name="contextLoads"/>
                </methods>
            </class>

            <class name="com.example.demo.demo.Calculator">
                <methods>
                    <include name="testAdd"/>
                    <include name="testSubtract"/>
                    <include name="testMultiply"/>
                    <include name="testDivide"/>
                </methods>
            </class>
            <class name="com.example.demo.demo.ParameterizedTests"/>
            <class name="com.example.demo.demo.GroupsTests"/>
        </classes>
    </test>
</suite>
